extends layout
block content
    div(class="w100pc flex row evenly")
        div(class="w30pc text-center fspc180")
            p
            | Welcome stranger!
            br
            | we like questions and you like answers!
            br
            | and we have neither.. for infact you have both!
            br
            br
            | At this website, <strong>you</strong> ask the questions!
            br
            | And <strong>you</strong> answer them!