extends layout

block content
    div(class="flex column center h100pc")
        div(class="flex column center center-items")
            form(action="/ask" method="post" id="question-form" class="flex column around bDark5 h20em w20em")
                div(class="flex row around")
                    b Name:
                    input(id="nameInputField" name="name" placeholder="Anon" value="")
                div(class="flex row around")
                    b Question:
                    input(id="questionInputField" name="question" type="text" pattern="^.{0,200}$" required)
                div(class="flex center")
                    input(id="sumbitQuestion-button" class="buttn w100" type="submit", value="submit")