extends layout

block content
    script.
        parent.addEventListener('click', function(e) {
            if(e.target.id == 'answerForm-buttn'){
                for(var child in e.target.parentElement.children){
                    if(e.target.parentElement.children[child].id == "answerForm"){
                        let target = e.target.parentElement.children[child].style.display;
                        if(target == "none")e.target.parentElement.children[child].style.display = "block";
                        if(target == "block")e.target.parentElement.children[child].style.display = "none";
                        break;
                    }
                }
            }
        });

    div(id="posts" class="flex row wrap around center-items")
        - for(var post = posts.length-1; post >= 0; post--)
            - let displayAnswerForm = "none";
            - let postID = posts[post].id;
            div(id="post" class="flex column center-text w20pc bPastelGreen m2 p1 cBlack")
                div(class="flex row center")
                    b(id="username")= posts[post].u + " Asked:"
                div(id="question" class="m1")= posts[post].q
                
                div(id="answers" class="flex column center bLight5")
                    -if(posts[post].a.length <= 0){
                        b(class="p1") There's no answers yet, be the first!
                    -   displayAnswerForm = "block";
                    -}

                    - for(var answer in posts[post].a)
                        div(id="answer-container" class="flex column between max-h3em bLight5 p1 m1")
                            div(id="user")= posts[post].a[answer].u + " Answered:"
                            div(id="answer")= posts[post].a[answer].a

                div(id="answerForm-container" class="pt1")
                    div(id="answerForm-buttn" class="buttn fspc90 cGreen") Answer questions
                    include answer-form.jade